<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Madera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="dist/css/mastrap.min.css">
    <link rel="stylesheet" href="dist/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css">
</head>
<body ng-class="{'outside-panel': !isAuth}" id="t">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-none" ng-class="{'d-flex': isAuth}">
    <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top">
    </a>
    <span class="nav-separator"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" id="nav-selection">
                    <span ng-if="currentRoute.$$route.originalPath.includes('/conception')">Conception des devis</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/paiement')">Modalités de paiement</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/admin')">Administration</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/settings')">Paramétrage</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/gestion')">Gestion</span>
                    <span ng-if="currentRoute.$$route.originalPath.includes('/profil')">Profil</span>
                    <span ng-if="(
                        !currentRoute.$$route.originalPath.includes('/conception') &&
                        !currentRoute.$$route.originalPath.includes('/paiement') &&
                        !currentRoute.$$route.originalPath.includes('/gestion') &&
                        !currentRoute.$$route.originalPath.includes('/profil') &&
                        !currentRoute.$$route.originalPath.includes('/admin') &&
                        !currentRoute.$$route.originalPath.includes('/settings')
                    )">Selection</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-selection">
                    <a class="dropdown-item"
                       ng-class="{active: currentRoute.$$route.originalPath.includes('/conception')}"
                       ng-show="userSession.payload.acl.conception.projets || userSession.payload.acl.conception.devis"
                       href="/conception">Conception des devis</a>
                    <a class="dropdown-item disabled"
                       ng-class="{active: currentRoute.$$route.originalPath.includes('/paiement')}"
                       href="#">Modalités de paiement</a>
                    <a class="dropdown-item"
                       ng-class="{active: currentRoute.$$route.originalPath.includes('/settings')}"
                       ng-show="userSession.payload.acl.settings.gammes || userSession.payload.acl.settings.typegammes || userSession.payload.acl.settings.typefinitions || userSession.payload.acl.settings.typeisolants || userSession.payload.acl.settings.modules || userSession.payload.acl.settings.naturemodules || userSession.payload.acl.settings.composants || userSession.payload.acl.settings.famillecomposants || userSession.payload.acl.settings.etatdevis || userSession.payload.acl.settings.tva"
                       href="/settings">Paramétrage</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link nav-gear"
               ng-show="userSession.payload.acl.admin.utilisateurs || userSession.payload.acl.admin.acls"
               title="Panneau administrateur" href="/admin"><i class="fa fa-cog"></i></a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link"
               ng-show="userSession.payload.acl.gestion.fournisseurs || userSession.payload.acl.gestion.clients"
               title="Panneau de gestion" href="/gestion"><i class="fa fa-address-book-o"></i></a>
        </li>
    </ul>
    <span class="nav-separator"></span>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="nav-profil">
                <span ng-bind="userSession.payload.nom"></span>&nbsp;
                <span ng-bind="userSession.payload.prenom"></span>
                <span class="hexagon-profile"><i class="fa fa-user"></i></span>
            </a>
            <div class="dropdown-menu right" aria-labelledby="nav-profil">
                <a class="dropdown-item" href="/profil" ng-show="userSession.payload.acl.profil">Mon profil</a>
                <!--<a class="dropdown-item" ng-click="reconnect()" href="#">Reconnexion</a>-->
                <a class="dropdown-item" href="/logout">Déconnexion</a>
            </div>
        </li>
    </ul>
</nav>

<div class="app-container" id="app" ng-view></div>

<script src="dist/js/mastrap.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>-->
<script src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>
<script src="app/lib/require.js" data-main="app/lib/main.js"></script>
<!--suppress JSValidateTypes -->
<script>
    $(function () {
        $(window).scroll(function () {

            if ($(this).scrollTop() < 48) {

                $('.menu-side').css('padding-top', (48 - $(this).scrollTop()) + 'px');
                $('.menu-side .entries').css('height', 'calc(100vh - ' + (48 - $(this).scrollTop()) + 'px)');

            } else {
                $('.menu-side').css('padding-top', 0 + 'px');
                $('.menu-side .entries').css('height', 'calc(100vh - ' + 0 + 'px)');
            }
        });
    });
</script>
</body>
</html>
