<div class="row mtm-48">
    <div class="inside-panel">
        <div class="panel">
            <h1 class="panel-title">Connexion</h1>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input type="email" ng-model="username" class="form-control" placeholder="Identifiant"
                               ng-keypress="$event.keyCode === 13 && login()">
                    </div>
                    <span class="text-danger small">&nbsp;</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span></div>
                        <input type="password" ng-model="password" class="form-control" placeholder="Mot de passe"
                               ng-keypress="$event.keyCode === 13 && login()">
                    </div>
                    <span class="text-danger small">&nbsp;</span>
                </div>
            </div>
            <div class="panel-footer">
                <a class="panel-link" href="javascript:;">&nbsp;</a>
                <button ng-click="login()"
                        ng-keydown="$event.keyCode === 13 && login()"
                        class="btn pull-right"
                        ng-disabled="authLoading"
                        ng-class="{'btn-secondary': authLoading, 'btn-primary': !authLoading}"
                >Se connecter&nbsp;<i class="fa fa-circle-o-notch fa-spin" ng-show="authLoading"></i></button>
            </div>
        </div>
        <div class="panel mt-3 border-0" ng-if="sso && sso.length > 0">
            <div class="panel-body p-0">
                <div class="btn btn-flat text-white ml-0 btn-block" ng-disabled="microsoftBtnLoading"
                     ng-class="{'btn-secondary': microsoftBtnLoading, 'btn-info': !microsoftBtnLoading}"
                     ng-if="sso.includes('Microsoft')" ng-click="microsoftLogin()">Se connecter avec Microsoft&nbsp;<i
                        class="fa fa-circle-o-notch fa-spin" ng-show="microsoftBtnLoading"></i><i
                        ng-hide="microsoftBtnLoading" class="fa fa-windows"></i></div>
            </div>
        </div>
    </div>
</div>
