<div class="row">
    <div class="form-group col-6">
        <label>{{champ.nom.ville}}</label>
        <input type="text" ng-model="liste[champ.field.ville]" ng-class="{'border-danger': errors.hasOwnProperty(champ.field.ville)}"
               class="typeahead ville form-control" autocomplete="off">
        <span class="text-danger small">&nbsp;{{ errors[champ.field.ville] }}</span>
    </div>
    <div class="form-group col-6">
        <label>{{champ.nom.cp}}</label>
        <input type="text" ng-model="liste[champ.field.cp]" ng-class="{'border-danger': errors.hasOwnProperty(champ.field.cp)}"
               class="typeahead cp form-control" autocomplete="off">
        <span class="text-danger small">&nbsp;{{ errors[champ.field.cp] }}</span>
    </div>
</div>

<script>
    // noinspection JSUnusedGlobalSymbols
    $('.typeahead.ville').typeahead({
        minLength: 3,
        scrollHeight: 0,
        highlight: false,
        autoSelect: false,
        changeInputOnSelect: false,
        source: function (query, process) {

            axios.get("/communes/rechercheville/" + query)
                .then(function (response) {

                    return process(response.data.data);
                });
        },
        displayText: function (item) {

            return item.nom + ' ' + item.codesPostaux[0];
        },
        afterSelect: function (item) {

            var myInput = $(".typeahead.ville");
            myInput.val(item.nom);
            myInput.trigger('change');

            var myInput = $(".typeahead.cp");
            myInput.val(item.codesPostaux[0]);
            myInput.trigger('change');
        }
    });

    $('.typeahead.cp').typeahead({
        minLength: 5,
        scrollHeight: 0,
        highlight: false,
        autoSelect: false,
        changeInputOnSelect: false,
        source: function (query, process) {

            axios.get("/communes/recherchecp/" + query)
                .then(function (response) {

                    return process(response.data.data);
                });
        },
        displayText: function (item) {

            return item.codesPostaux[0] + ' ' + item.nom;
        },
        afterSelect: function (item) {

            var myInput = $(".typeahead.cp");
            myInput.val(item.codesPostaux[0]);
            myInput.trigger('change');

            var myInput = $(".typeahead.ville");
            myInput.val(item.nom);
            myInput.trigger('change');
        }
    });
</script>
