<div class="form-group">
    <label>{{champ.nom}}</label>
    <input type="text" data-url="{{ champ.api.url }}"
           data-text="{{ champ.api.text }}" data-value="{{ champ.api.value }}"
           ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}"
           class="typeahead form-control" autocomplete="off">
    <span class="fa fa-angle-down" style="position: absolute;top: 42px;right: 24px;"></span>
    <input type="text" class="typeahidden" ng-model="liste[champ.field]" style="position: absolute;top: 36px;z-index: -1;">
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>

<script>
    // noinspection JSUnusedGlobalSymbols
    $('.typeahead').typeahead({
        minLength: 1,
        scrollHeight: 0,
        highlight: false,
        autoSelect: false,
        changeInputOnSelect: false,
        source: function (query, process) {

            var api = $('input.typeahead').attr('data-url');

            axios.post(api, {query})
                .then(function (response) {

                    return process(response.data.data);
                });
        },
        displayText: function (item) {

            var display = $('input.typeahead').attr('data-text');

            return item[display];
        },
        afterSelect: function (item) {

            var display = $('input.typeahead').attr('data-text');
            var value = $('input.typeahead').attr('data-value');

            var myInput = $(".typeahead");
            myInput.val(item[display]);
            myInput.trigger('change');

            var myInput = $(".typeahidden");
            myInput.val(item[value]);
            myInput.trigger('change');
        }

    }).on('change', function () {

        var myInput = $(".typeahidden");
        myInput.val('');
        myInput.trigger('change');
    });
</script>
