<div class="form-group">
    <label>{{ champ.nom.a }}</label>
    <select ng-model="liste[champ.field.a]" id="isda" ng-change="loadAccesses(liste[champ.field.a])"
            class="form-control" ng-disabled="champ.disabled || (isEdit && champ.edit.disabled)"
            ng-class="{'border-danger': errors.hasOwnProperty(champ.field.a)}">
        <option value="*" ng-if="champ.empty.a !== false">*</option>
        <option ng-repeat="option in champ.options" value="{{ option.value }}">{{ option.text }}</option>
    </select>
    <span class="text-danger small">&nbsp;{{ errors[champ.field.a] }}</span>
</div>
<div class="form-group">
    <label>{{ champ.nom.b }}</label>
    <select ng-model="liste[champ.field.b]" id="isdb"
            class="form-control" ng-disabled="champ.disabled || (isEdit && champ.edit.disabled)"
            ng-class="{'border-danger': errors.hasOwnProperty(champ.field.b)}">
        <option value="*" ng-if="champ.empty.b !== false">*</option>
        <option ng-repeat="opt in opts" value="{{ opt.value }}">{{ opt.text }}</option>
    </select>
    <span class="text-danger small">&nbsp;{{ errors[champ.field.b] }}</span>
</div>
