<div ng-show="showTabNv2" class="of-auto">
    <div ng-click="openGenericModalNv2(champ.modelCible)" class="btn btn-sm btn-default pull-right" title="Ajouter un {{champ.modelCible}} au {{itemList.modelNom}}"><i class="fa fa-plus"></i></div>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="table-head">
            <th ng-repeat="col in champ.cols">{{col.label}}</th>
            <th class="text-right not-allowed">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="itemList.responseModal.length > 0" ng-repeat="item in itemList.responseModal">
            <td ng-repeat="col in champ.cols">{{item[col.champ]}}</td>
            <td>
                <div class="btn btn-danger pull-right" ng-click="deleteElemFromTab(item.id,champ.modelSave,true)"><i class="fa fa-trash"></i></div>
            </td>
        </tr>
        <tr ng-if="!(itemList.responseModal.length > 0)">
            <td colspan="{{ champ.cols.length +1 }}" class="text-center">
                <span>Aucun élément n'a été trouvé</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<!--Modale de niveau 2 -->
<div class="modal modal-primary modalAjNv2{{champ.modelCible}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un {{champ.modelCible}}</h5>
            </div>
            <div class="modal-body">
                <!--Ici, champ correspond aux champs de la modale, à ne pas confondre avec les autres-->
                <div ng-repeat="champ in champ.champsModal" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'"></div>
            </div>
            <div class="modal-footer">
                <div ng-click="closeGenericModalNv2(champ.modelCible)" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <button title="Ajouter au {{itemList.modelNom}}" class="btn btn-sm btn-success pull-right" ng-click="addElemToTab(champ.modelSave,true,true,champ.modelCible)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modale de suppression-->
<div class="modal modal-danger" id="modalSu{{champ.modelCible}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer l'élément</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer l'élément cet élément ?</p>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="deleteElemFromTab(current.id,champ.modelSave)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash"></i></div>
            </div>
        </div>
    </div>
</div>
