<div class="form-group">
    <label>{{ champ.nom }}</label>
    <input type="text" ng-model="liste[champ.field]" class="form-control datepicker" ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}">
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>

<script>
    $(".datepicker").datepicker({
        format: 'dd/mm/yyyy',
        templates: {
            leftArrow: '<i class="fa fa-long-arrow-left"></i>',
            rightArrow: '<i class="fa fa-long-arrow-right"></i>'
        },
        autoclose: true,
        clearBtn: true
    });
</script>
