<div class="form-group">
    <label>{{ champ.nom }}</label>
    <select ng-model="liste[champ.field]" class="form-control" ng-disabled="champ.disabled || (isEdit && champ.edit.disabled)"
            ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}">
        <option value="" ng-if="champ.empty !== false"></option>
        <option ng-repeat="option in champ.options" ng-value="option.value" ng-selected="champ.default">
            {{ option.text }}
        </option>
    </select>
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>
