<div class="form-group">
    <label>{{ champ.nom }}</label>
    <input type="text" ng-model="liste[champ.field]" id="tel" data-inputmask="{{ champ.options.inputmask }}"
           class="form-control" ng-class="{'border-danger': errors.hasOwnProperty(champ.field)}">
    <span class="text-danger small">&nbsp;{{ errors[champ.field] }}</span>
</div>

<script>
    $(document).ready(function () {
        $("#tel").inputmask();
    });
</script>