<div ng-show="isEdit" class="of-auto">
    <div ng-click="openGenericModalNv1(champ.modelCible,champ.isHuge)" class="btn btn-sm btn-default pull-right" title="Ajouter un {{champ.modelCible}} au {{itemList.modelNom}}"><i class="fa fa-plus"></i></div>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="table-head">
            <th ng-repeat="col in champ.cols">{{col.label}}</th>
            <th class="text-right not-allowed">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="itemList.response.length > 0" ng-repeat="item in itemList.response">
            <td ng-repeat="col in champ.cols">{{item[col.champ]}}</td>
            <td>
                <div class="btn btn-danger pull-right" ng-click="openModal(item.id,champ.modelCible)"><i class="fa fa-trash"></i></div>
                <div class="btn btn-default pull-right" ng-click="openGenericModalNv1(champ.modelCible,champ.isHuge,'edit',item.id)"><i class="fa fa-edit"></i></div>
            </td>
        </tr>
        <tr ng-if="!(itemList.response.length > 0)">
            <td colspan="{{ champ.cols.length +1 }}" class="text-center">
                <span>Aucun élément n'a été trouvé</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<!--Modale de niveau 1 -->
<div class="modal modal-primary modalAjNv1{{champ.modelCible}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter / Modifier un {{champ.modelCible}}</h5>
            </div>
            <div class="modal-body">
                <!--Ici, champ correspond aux champs de la modale, à ne pas confondre avec les autres-->
                <div ng-repeat="champ in champ.champsModal" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'"></div>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <button onclick="$('.modal').modal('hide');" title="Ajouter au {{itemList.modelNom}}" class="btn btn-sm btn-success pull-right" ng-click="addElemToTab(champ.modelSave)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modale de suppression-->
<div class="modal modal-danger" id="modalSu{{champ.modelCible}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer l'élément</h5>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer cet élément ?</p>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="deleteElemFromTab(current.id,champ.modelSave)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash"></i></div>
            </div>
        </div>
    </div>
</div>

<!--Grosse modale-->
<div class="modal modal-primary" id="modalAjHugeNv1{{itemList.modelCibleNv1}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-extended" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{actionModal}} un {{champ.modelCible}}</h5>
                <div class="dropdown dropdown-el">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Charger un modèle</b>
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-item" ng-click="loadElemToModal(item.value)" ng-repeat="item in champ.options">{{item.text}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-repeat="champ in champ.champsModal" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i
                        class="fa fa-undo"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="closeGenericModalNv1();addElemToTab(champ.modelSave,true,null,champ.modelCible,showTabNv2)" class="btn btn-sm btn-success pull-right">
                    <i class="fa fa-save"></i></div>
            </div>
        </div>
    </div>
</div>
