<div ng-include="'app/views/admin/menuAdmin.html'"></div>
<div class="row row-wrapper">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-success text-white">
            <div class="inner">
                <h3 ng-show="stats.utilisateurs">{{ stats.utilisateurs }}</h3>
                <h3 ng-hide="stats.utilisateurs">0</h3>
                <p>Nb. d'utilisateurs</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-warning text-white">
            <div class="inner">
                <h3 ng-show="stats.php">{{ stats.php }}</h3>
                <h3 ng-hide="stats.php">0</h3>
                <p>Conso. application</p>
            </div>
            <div class="icon">
                <i class="fa fa-server"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-info text-white">
            <div class="inner">
                <h3 ng-show="stats.redis">{{ stats.redis }}B</h3>
                <h3 ng-hide="stats.redis">0</h3>
                <p>Conso. cache</p>
            </div>
            <div class="icon">
                <i class="fa fa-clone"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-danger text-white">
            <div class="inner">
                <h3 ng-show="stats.mysql">{{ stats.mysql }}</h3>
                <h3 ng-hide="stats.mysql">0</h3>
                <p>Charge moy. BDD</p>
            </div>
            <div class="icon">
                <i class="fa fa-database"></i>
            </div>
        </div>
    </div>
</div>
<div class="row row-wrapper">
    <div class="col-12">
        <div class="card p-4 border-top-0">
            <div class="row menu-tablette">
                <div ng-show="userSession.payload.acl.admin.utilisateurs" class="col-4 col-md-3 col-lg-2">
                    <a href="/admin/utilisateurs/liste-utilisateurs" class="entry"
                       ng-class="{active: currentRoute.$$route.originalPath.includes('/admin/utilisateurs')}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512" width="512" height="512"><style>.a{fill:#75DC5E;}.b{fill:#F2A077;}</style><path d="M209.7 482.1H17.4c-1.5 0-2.6-1.3-2.5-2.8l7.2-62c3.3-28.4 27.3-49.7 55.8-49.7h71.2c28.6 0 52.6 21.4 55.8 49.7l7.2 62C212.3 480.8 211.2 482.1 209.7 482.1z" class="a"></path><path d="M205 417.3c-3.3-28.4-27.3-49.7-55.8-49.7h-19.9c28.6 0 52.6 21.4 55.8 49.7l7.5 64.7h17.1c1.5 0 2.6-1.3 2.5-2.8L205 417.3z" fill="#2AAD52"></path><path d="M87.7 324.5v45.1c0 14.3 11.6 25.9 25.9 25.9h0c14.3 0 25.9-11.6 25.9-25.9v-45.1H87.7z" fill="#B05A3D"></path><path d="M198.2 246.1H182.5v-38c0-27.5-22.3-49.8-49.8-49.8H94.4c-27.5 0-49.8 22.3-49.8 49.8v38H28.9c-8.9 0-16.1 7.2-16.1 16.1v7.6c0 8.9 7.2 16.1 16.1 16.1h15.8c1.9 36.4 32 65.3 68.8 65.3 18.4 0 35.2-7.2 47.5-19 12.4-11.8 20.4-28.1 21.3-46.3h15.8c8.9 0 16.1-7.2 16.1-16.1v-7.6C214.3 253.3 207.1 246.1 198.2 246.1z" fill="#D7875F"></path><path d="M44.6 213.2h19.8c5.6 0 10.7-3.3 13-8.4l5.1-11.5c1.4-3.1 5.4-4.1 8.1-2l24.4 19c2.5 1.9 5.6 3 8.7 3h58.7v-42.8c0-21.4-17.3-38.7-38.7-38.7h-47.1c-7 0-12.7 5.7-12.7 12.7v6.8H63.4c-10.4 0-18.7 8.4-18.7 18.7V213.2z" fill="#475D6D"></path><path d="M149 88.5v110.5h245.8V78.8c0-24.3-19.7-44-44-44h-17.9l-1.4-2.8C324.2 17 309 7.5 292.4 7.5h-62.4C185.3 7.5 149 43.8 149 88.5z" fill="#F9DC6A"></path><path d="M350.8 34.8h-17.9l-1.4-2.8C324.2 17 309 7.5 292.4 7.5H268.9c16.7 0 31.9 9.5 39.2 24.5l1.4 2.8h17.9c24.3 0 44 19.7 44 44v120.2h23.5V78.8C394.8 54.5 375.1 34.8 350.8 34.8z" fill="#E5AC51"></path><path d="M404.9 499.1H138.9c-2.1 0-3.6-1.8-3.4-3.8l9.9-85.7c4.5-39.2 37.8-68.8 77.3-68.8h98.5c39.5 0 72.7 29.6 77.3 68.8l9.9 85.7C408.5 497.3 406.9 499.1 404.9 499.1z" fill="#2BB4F3"></path><path d="M236.1 281v72.1c0 19.8 16 35.8 35.8 35.8h0c19.8 0 35.8-16 35.8-35.8v-72.1H236.1z" class="b"></path><path d="M411.3 194.9v10.5c0 12.3-10 22.3-22.3 22.3h-21.9c-1.3 25.2-12.4 47.8-29.5 64.1 -17.1 16.3-40.3 26.3-65.8 26.3 -51 0-92.6-40-95.2-90.4h-21.9c-12.3 0-22.3-10-22.3-22.3v-10.5c0-12.3 10-22.3 22.3-22.3h21.8v-39.8h80.1c38.1 0 69.7-27.5 76.1-63.8 0.6-3.1 4.3-4.4 6.7-2.3 17.1 15.5 27.9 37.9 27.9 62.8v43.1h21.8C401.3 172.6 411.3 182.6 411.3 194.9z" fill="#FCA"></path><path d="M389 172.6h-21.8v-43.1c0-24.9-10.8-47.3-27.9-62.8 -2.4-2.1-6.1-0.8-6.7 2.3 -0.9 5.4-2.4 10.5-4.4 15.4 8.2 13.1 13 28.5 13 45.1v43.1l-0.1 55.1c-1.3 25.2-12.4 47.8-29.5 64.1 -14.2 13.5-32.4 22.6-52.8 25.4 4.3 0.6 8.6 0.9 13 0.9 25.5 0 48.6-10 65.8-26.3 17.1-16.3 28.2-38.9 29.5-64.1h21.9c12.3 0 22.3-10 22.3-22.3v-10.5C411.3 182.6 401.3 172.6 389 172.6z" class="b"></path><circle cx="411.3" cy="416.6" r="87.9" fill="#D2F5FF"></circle><path d="M464.6 401.7h-35.2c-1.8 0-3.2-1.4-3.2-3.2v-35.2c0-1.8-1.4-3.2-3.2-3.2h-23.3c-1.8 0-3.2 1.4-3.2 3.2V398.5c0 1.8-1.4 3.2-3.2 3.2h-35.2c-1.8 0-3.2 1.4-3.2 3.2v23.3c0 1.8 1.4 3.2 3.2 3.2h35.2c1.8 0 3.2 1.4 3.2 3.2v35.2c0 1.8 1.4 3.2 3.2 3.2h23.3c1.8 0 3.2-1.4 3.2-3.2v-35.2c0-1.8 1.4-3.2 3.2-3.2h35.2c1.8 0 3.2-1.4 3.2-3.2v-23.3C467.8 403.2 466.3 401.7 464.6 401.7z" class="a"></path><path d="M142.2 281c-3.8-1.6-8.2 0.3-9.8 4.1 -3.1 7.7-10.6 12.7-18.9 12.7 -5.4 0-10.6-2.1-14.4-6 -1.9-1.9-3.5-4.2-4.5-6.7 -1.6-3.8-5.9-5.7-9.8-4.1s-5.7 5.9-4.1 9.8c1.8 4.4 4.4 8.3 7.8 11.7 6.7 6.7 15.6 10.4 25 10.4 14.5 0 27.4-8.7 32.8-22.1C147.9 286.9 146.1 282.6 142.2 281z"></path><path d="M86.6 250.6v-3.3c0-4.1-3.4-7.5-7.5-7.5s-7.5 3.4-7.5 7.5v3.3c0 4.1 3.4 7.5 7.5 7.5S86.6 254.7 86.6 250.6z"></path><path d="M148.1 239.8c-4.1 0-7.5 3.4-7.5 7.5v3.3c0 4.1 3.4 7.5 7.5 7.5s7.5-3.4 7.5-7.5v-3.3C155.6 243.1 152.2 239.8 148.1 239.8z"></path><path d="M229.1 233.3c2.3 5.7 5.7 10.9 10.1 15.3 8.7 8.7 20.3 13.5 32.6 13.5 18.9 0 35.6-11.3 42.7-28.8 1.6-3.8-0.3-8.2-4.1-9.8 -3.8-1.6-8.2 0.3-9.8 4.1 -4.8 11.8-16.1 19.4-28.8 19.4 -8.3 0-16.1-3.2-22-9.1 -3-3-5.3-6.4-6.8-10.3 -1.6-3.8-5.9-5.7-9.8-4.1C229.5 225 227.6 229.4 229.1 233.3z"></path><path d="M224.1 186.3c4.1 0 7.5-3.4 7.5-7.5v-4.6c0-4.1-3.4-7.5-7.5-7.5s-7.5 3.4-7.5 7.5v4.6C216.6 182.9 220 186.3 224.1 186.3z"></path><path d="M319.6 186.3c4.1 0 7.5-3.4 7.5-7.5v-4.6c0-4.1-3.4-7.5-7.5-7.5s-7.5 3.4-7.5 7.5v4.6C312.1 182.9 315.5 186.3 319.6 186.3z"></path><path d="M470.3 341.7c-3.3-2.6-8-2-10.5 1.2 -2.6 3.3-2 8 1.2 10.5 19.5 15.4 30.7 38.4 30.7 63.2 0 44.3-36.1 80.4-80.4 80.4s-80.4-36.1-80.4-80.4 36.1-80.4 80.4-80.4c8.4 0 16.6 1.3 24.5 3.8 3.9 1.3 8.2-0.9 9.4-4.9s-0.9-8.2-4.9-9.4c-9.4-3-19.1-4.5-29.1-4.5 -21.2 0-40.9 7-56.7 18.8 -10.6-4.5-21.8-6.8-33.4-6.8h-5.9V316c10.1-4.7 19.4-11 27.6-18.8 17.4-16.6 28.3-38.4 31.2-62h15.1c16.4 0 29.8-13.4 29.8-29.8v-10.5c0-11.7-6.7-21.8-16.5-26.6V78.8c0-28.4-23.1-51.5-51.5-51.5h-13.2C328.8 10.7 311.2 0 292.4 0h-62.4c-16.9 0-33.3 4.8-47.5 13.8 -3.5 2.2-4.5 6.9-2.3 10.4 2.2 3.5 6.9 4.5 10.4 2.3C202.3 19 216 15 230 15h62.4c13.7 0 26.4 8 32.4 20.3l1.4 2.8c1.3 2.6 3.9 4.2 6.7 4.2h17.9c20.1 0 36.5 16.4 36.5 36.5v86.3h-12.5v-35.6c0-26-11.1-50.9-30.3-68.4 -3.1-2.8-7.5-3.7-11.5-2.4 -4 1.4-6.9 4.8-7.6 8.9 -5.9 33.4-34.8 57.6-68.7 57.6h-80.1 -12.1c-4.1 0-7.5 3.4-7.5 7.5s3.4 7.5 7.5 7.5h4.6v24.8h-12.5V88.5c0-15.8 4.9-30.9 14.3-43.5 2.5-3.3 1.7-8-1.6-10.5 -3.3-2.5-8-1.7-10.5 1.6 -11.3 15.3-17.2 33.4-17.2 52.5v79.7c-9.8 4.9-16.5 15-16.5 26.6v10.5c0 0.1 0 0.2 0 0.3h-1.2c-1.5 0-2.9-0.5-4.1-1.4l-24.4-19c-3.1-2.4-7.1-3.3-10.9-2.3 -3.8 1-7 3.6-8.6 7.2l-5.1 11.5c-1.1 2.4-3.5 4-6.1 4h-12.3v-35.7c0-6.2 5-11.2 11.3-11.2h20.5c4.1 0 7.5-3.4 7.5-7.5v-6.8c0-2.9 2.4-5.2 5.3-5.2h23.8c4.1 0 7.5-3.4 7.5-7.5s-3.4-7.5-7.5-7.5h-23.7c-10.9 0-19.9 8.7-20.2 19.6H63.4c-14.5 0-26.2 11.8-26.2 26.2v38.2 5 25.4h-8.2c-13 0-23.6 10.6-23.6 23.6v7.6c0 13 10.6 23.6 23.6 23.6h9.1c3.7 25.6 20 46.9 42.3 57.7v9h-2.2c-32.4 0-59.6 24.2-63.3 56.4l-7.2 62c-0.3 2.8 0.6 5.7 2.5 7.8 1.9 2.1 4.6 3.3 7.5 3.3h90.1c4.1 0 7.5-3.4 7.5-7.5s-3.4-7.5-7.5-7.5H59.6v-41.7c0-4.1-3.4-7.5-7.5-7.5s-7.5 3.4-7.5 7.5v41.7h-21.5l6.5-56.4c2.8-24.6 23.6-43.1 48.4-43.1h2.7c2.6 15.8 16.4 27.9 32.9 27.9 8.9 0 17.3-3.5 23.6-9.8 5-5 8.2-11.3 9.3-18.1h2.7c0 0 0 0 0 0 -5.9 10-9.8 21.3-11.2 33.5l-9.9 85.8c-0.3 3.1 0.6 6.2 2.7 8.5 2.1 2.3 5 3.6 8.1 3.6h240.7c9.9 3.5 20.6 5.4 31.8 5.4 52.6 0 95.4-42.8 95.4-95.4C506.7 387.2 493.4 359.9 470.3 341.7zM300.2 353.1c0 7.6-2.9 14.7-8.3 20 -5.3 5.3-12.4 8.3-20 8.3 -15.6 0-28.3-12.7-28.3-28.3v-31.5c9 2.6 18.5 3.9 28.3 3.9 9.7 0 19.2-1.3 28.3-3.9V353.1zM140 194.9c0-8.1 6.6-14.8 14.8-14.8h21.8c4.1 0 7.5-3.4 7.5-7.5v-32.3h72.6c39.1 0 72.7-26.4 82.1-63.7 13.4 14.3 21 33.2 21 52.9v43.1c0 4.1 3.4 7.5 7.5 7.5h21.8c8.1 0 14.8 6.6 14.8 14.8v10.5c0 8.1-6.6 14.8-14.8 14.8h-21.9c-4 0-7.3 3.1-7.5 7.1 -1.2 22.5-10.8 43.5-27.1 59 -8.1 7.7-17.5 13.7-27.6 17.8 -0.1 0-0.2 0.1-0.3 0.1 -10.3 4.1-21.4 6.3-32.7 6.3 -11.6 0-22.6-2.2-32.8-6.3 -0.1-0.1-0.2-0.1-0.4-0.1 -30.7-12.5-52.8-41.8-54.6-76.8 -0.2-4-3.5-7.1-7.5-7.1h-21.9c-8.1 0-14.8-6.6-14.8-14.8V194.9zM131.9 369.6c0 4.9-1.9 9.5-5.4 13 -3.5 3.5-8.1 5.4-13 5.4 -10.1 0-18.4-8.2-18.4-18.4v-13.1c5.9 1.5 12 2.2 18.4 2.2 6.3 0 12.4-0.8 18.4-2.2V369.6zM149.1 360.1h-2.2v-9c7-3.4 13.5-7.9 19.3-13.4 8.6-8.2 15.3-18.5 19.3-29.7 1.4-3.9-0.6-8.2-4.5-9.6 -3.9-1.4-8.2 0.6-9.6 4.5 -3.2 9-8.6 17.2-15.5 23.9 -5.7 5.4-12.3 9.6-19.4 12.5 0 0 0 0 0 0 -7.2 2.9-15 4.4-22.9 4.4 -8.1 0-15.8-1.6-22.9-4.4 -0.1 0-0.2-0.1-0.2-0.1 -21.4-8.7-36.9-29.2-38.2-53.7 -0.2-4-3.5-7.1-7.5-7.1h-15.8c-4.7 0-8.6-3.9-8.6-8.6v-7.6c0-4.7 3.9-8.6 8.6-8.6h15.8c4.1 0 7.5-3.4 7.5-7.5V220.7h12.3c8.5 0 16.3-5 19.8-12.9l4-8.9 22.1 17.2c3.8 2.9 8.5 4.6 13.3 4.6h5.5c5.2 8.7 14.7 14.5 25.5 14.5h15.1c4.4 36.1 27.3 66.2 58.8 80.9v17.1h-5.9c-24.8 0-47.3 10.6-63 27.8C156.2 360.4 152.7 360.1 149.1 360.1zM194.3 491.6v-60.6c0-4.1-3.4-7.5-7.5-7.5s-7.5 3.4-7.5 7.5v60.6h-35.9l9.4-81.2c4.1-35.5 34.1-62.2 69.8-62.2h6v5c0 23.9 19.4 43.3 43.3 43.3 11.6 0 22.4-4.5 30.6-12.7 8.2-8.2 12.7-19.1 12.7-30.6v-4.9h6c7.1 0 14.1 1 20.7 3.1 -16.1 17.1-26 40.1-26 65.3 0 30.4 14.3 57.5 36.5 75H194.3z"></path><path d="M399.6 480.6h23.3c5.9 0 10.7-4.8 10.7-10.7v-30.9h30.9c5.9 0 10.7-4.8 10.7-10.7v-23.3c0-5.9-4.8-10.7-10.7-10.7H433.7v-30.9c0-5.9-4.8-10.7-10.7-10.7h-23.3c-5.9 0-10.7 4.8-10.7 10.7v30.9h-30.9c-5.9 0-10.7 4.8-10.7 10.7v23.3c0 5.9 4.8 10.7 10.7 10.7h30.9v30.9C388.9 475.8 393.7 480.6 399.6 480.6zM362.3 424v-14.8h30.9c5.9 0 10.7-4.8 10.7-10.7v-30.9h14.8V398.5c0 5.9 4.8 10.7 10.7 10.7h30.9v14.8h-30.9c-5.9 0-10.7 4.8-10.7 10.7v30.9H403.9v-30.9c0-5.9-4.8-10.7-10.7-10.7H362.3z"></path></svg>
                        <span class="text">Utilisateurs</span>
                    </a>
                </div>
                <div ng-show="userSession.payload.acl.admin.acls" class="col-4 col-md-3 col-lg-2">
                    <a href="/admin/acls/acls" class="entry"
                       ng-class="{active: currentRoute.$$route.originalPath.includes('/admin/acls')}">
                        <svg viewBox="0 0 496 496" class="icon" xmlns="http://www.w3.org/2000/svg"><path d="m128 424h240v32h-240zm0 0" fill="#666d77"></path><path d="m8 456h480v32h-480zm0 0" fill="#444a53"></path><path d="m264 64v360h-32v-360" fill="#8d5655"></path><path d="m87.988281 104.015625 8-32 319.984375 79.988281-8 31.996094zm0 0" fill="#7c4a49"></path><path d="m280 40c0 17.671875-14.328125 32-32 32s-32-14.328125-32-32 14.328125-32 32-32 32 14.328125 32 32zm0 0" fill="#7c4a49"></path><path d="m48 408c0 8.835938-7.164062 16-16 16s-16-7.164062-16-16 7.164062-16 16-16 16 7.164062 16 16zm0 0" fill="#5789d6"></path><path d="m120 344c0 17.671875-14.328125 32-32 32s-32-14.328125-32-32 14.328125-32 32-32 32 14.328125 32 32zm0 0" fill="#5789d6"></path><path d="m400 72c0 17.671875-14.328125 32-32 32s-32-14.328125-32-32 14.328125-32 32-32 32 14.328125 32 32zm0 0" fill="#699ce6"></path><path d="m488 32c0 13.253906-10.746094 24-24 24s-24-10.746094-24-24 10.746094-24 24-24 24 10.746094 24 24zm0 0" fill="#699ce6"></path><path d="m152 216c0 35.347656-28.652344 64-64 64s-64-28.652344-64-64 28.652344-64 64-64 64 28.652344 64 64zm0 0" fill="#ca5057"></path><path d="m472 296c0 35.347656-28.652344 64-64 64s-64-28.652344-64-64 28.652344-64 64-64 64 28.652344 64 64zm0 0" fill="#98be61"></path><path d="m448 296c0 22.089844-17.910156 40-40 40s-40-17.910156-40-40 17.910156-40 40-40 40 17.910156 40 40zm0 0" fill="#abd176"></path><path d="m128 216c0 22.089844-17.910156 40-40 40s-40-17.910156-40-40 17.910156-40 40-40 40 17.910156 40 40zm0 0" fill="#dc6068"></path><path d="m488 496h-480c-4.425781 0-8-3.585938-8-8v-32c0-4.414062 3.574219-8 8-8h480c4.425781 0 8 3.585938 8 8v32c0 4.414062-3.574219 8-8 8zm-472-16h464v-16h-464zm0 0"></path><path d="m368 464h-240c-4.425781 0-8-3.585938-8-8v-32c0-4.414062 3.574219-8 8-8h240c4.425781 0 8 3.585938 8 8v32c0 4.414062-3.574219 8-8 8zm-232-16h224v-16h-224zm0 0"></path><path d="m248 80c-22.054688 0-40-17.945312-40-40s17.945312-40 40-40 40 17.945312 40 40-17.945312 40-40 40zm0-64c-13.230469 0-24 10.769531-24 24s10.769531 24 24 24 24-10.769531 24-24-10.769531-24-24-24zm0 0"></path><path d="m224 136h16v288h-16zm0 0"></path><path d="m224 64h16v40h-16zm0 0"></path><path d="m256 152h16v272h-16zm0 0"></path><path d="m256 64h16v48h-16zm0 0"></path><path d="m408.007812 192c-.640624 0-1.296874-.070312-1.945312-.238281l-320-80c-4.285156-1.074219-6.894531-5.417969-5.824219-9.707031l8-32c1.066407-4.277344 5.402344-6.910157 9.699219-5.824219l320 80c4.285156 1.074219 6.894531 5.417969 5.824219 9.707031l-8 32c-.914063 3.636719-4.167969 6.0625-7.753907 6.0625zm-310.304687-93.824219 304.480469 76.121094 4.121094-16.480469-304.480469-76.121094zm0 0"></path><path d="m392 336c-2.671875 0-5.167969-1.335938-6.65625-3.558594l-16-24 13.3125-8.875 9.128906 13.691406 33.4375-53.496093 13.5625 8.476562-40 64c-1.441406 2.304688-3.945312 3.722657-6.664062 3.761719-.042969 0-.082032 0-.121094 0zm0 0"></path><path d="m50.339844 189.65625 11.3125-11.3125 64.003906 64-11.316406 11.3125zm0 0"></path><path d="m50.339844 242.34375 64-64 11.316406 11.3125-64.003906 64zm0 0"></path><path d="m88 288c-39.703125 0-72-32.304688-72-72s32.296875-72 72-72 72 32.304688 72 72-32.296875 72-72 72zm0-128c-30.871094 0-56 25.121094-56 56s25.128906 56 56 56 56-25.121094 56-56-25.128906-56-56-56zm0 0"></path><path d="m408 368c-39.703125 0-72-32.304688-72-72s32.296875-72 72-72 72 32.304688 72 72-32.296875 72-72 72zm0-128c-30.871094 0-56 25.121094-56 56s25.128906 56 56 56 56-25.121094 56-56-25.128906-56-56-56zm0 0"></path><path d="m400 184h16v48h-16zm0 0"></path><path d="m80 104h16v48h-16zm0 0"></path><path d="m32 432c-13.230469 0-24-10.769531-24-24s10.769531-24 24-24 24 10.769531 24 24-10.769531 24-24 24zm0-32c-4.414062 0-8 3.59375-8 8s3.585938 8 8 8 8-3.59375 8-8-3.585938-8-8-8zm0 0"></path><path d="m88 384c-22.054688 0-40-17.945312-40-40s17.945312-40 40-40 40 17.945312 40 40-17.945312 40-40 40zm0-64c-13.230469 0-24 10.769531-24 24s10.769531 24 24 24 24-10.769531 24-24-10.769531-24-24-24zm0 0"></path><path d="m368 112c-22.054688 0-40-17.945312-40-40s17.945312-40 40-40 40 17.945312 40 40-17.945312 40-40 40zm0-64c-13.230469 0-24 10.769531-24 24s10.769531 24 24 24 24-10.769531 24-24-10.769531-24-24-24zm0 0"></path><path d="m464 64c-17.648438 0-32-14.351562-32-32s14.351562-32 32-32 32 14.351562 32 32-14.351562 32-32 32zm0-48c-8.824219 0-16 7.175781-16 16s7.175781 16 16 16 16-7.175781 16-16-7.175781-16-16-16zm0 0"></path></svg>
                        <span class="text">Rôles et droits</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
