<div ng-include="'app/views/conception/menuConception.html'"></div>
<div class="row row-wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {{titre}}
                <a href="/{{itemList.moduleNom}}/{{itemList.dossierNom}}/liste-{{itemList.dossierNom}}" title="Retour"
                   class="btn btn-info pull-right"><i class="fa fa-undo"></i></a>
                <a title="Imprimer" class="btn btn-default pull-right" ng-show="isEdit" target="_blank" href="{{ devisLink }}">
                    <i class="fa fa-print"></i>
                </a>
                <button ng-hide="isEdit" title="Enregistrer" class="btn btn-success pull-right" ng-click="update()" ng-disabled="saveLoading">
                    <i class="fa fa-save" ng-hide="saveLoading"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="saveLoading"></i>
                </button>
                <button ng-show="isEdit" title="Enregistrer" class="btn btn-success pull-right" ng-click="update(id)" ng-disabled="saveLoading">
                    <i class="fa fa-save" ng-hide="saveLoading"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="saveLoading"></i>
                </button>
            </div>
            <nav ng-show="isEdit" class="nav" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general"
                   role="tab" aria-controls="nav-home" aria-selected="true">Général</a>
                <a class="nav-link" id="nav-products-tab" data-toggle="tab" href="#nav-products"
                   role="tab" aria-controls="nav-home" aria-selected="true">Produits</a>
            </nav>
            <div class="card-body" style="overflow: initial">
                <fieldset ng-disabled="isEdit && !aclFormRead.update">
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div class="row m-0">
                        <div ng-repeat="champ in itemList.champs" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'">
                            <!--<div ng-include="'app/views/elements/'+champ.type+'.html'"></div>-->
                        </div>

                        <div ng-show="isEdit" title="Archiver" class="btn btn-block btn-danger pull-right"
                             onclick="$('.modal').modal('show');"><i class="fa fa-archive"></i> Archiver
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div ng-repeat="champ in itemList.champs2" ng-class="champ.parentDivClass" ng-include="'app/views/elements/'+champ.type+'.html'">
                        <!--<div ng-include="'app/views/elements/'+champ.type+'.html'"></div>-->
                    </div>
                </div>
                </fieldset>
            </div>
        </div>


        <!--Modale de suppression-->
        <div class="modal modal-danger" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Archiver l'élément</h5>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment archiver l'élément {{current.label}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                        <div onclick="$('.modal').modal('hide');" ng-click="delete()" class="btn btn-sm btn-danger pull-right"><i class="fa fa-archive"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
