<div ng-include="'app/views/conception/menuConception.html'"></div>
<div class="row row-wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Liste des {{itemList.labelTitreHeader}}
                <a href="/{{itemList.moduleNom}}/{{itemList.dossierNom}}/formulaire"
                   ng-show="aclDataGrid.create"
                   class="btn btn-default pull-right"><i class="fa fa-plus"></i></a>
                <button ng-click="refreshTable(itemList.current, filtre)" title="Rafraichir le tableau"
                        class="btn btn-info pull-right"><i class="fa fa-refresh" ng-class="{'fa-spin': loading}"></i></button>
            </div>
            <div class="card-body">
                <div class="col-12 p-0">
                    <div class="input-group m-0 mb-2">
                        <input placeholder="Filtre" type="text" ng-model="filtre" ng-change="refreshTable(0, filtre)"
                               class="form-control br-0">
                        <div class="input-group-append" ng-show="filtre">
                            <button class="btn btn-outline-secondary m-0 br-0" type="button"
                                    ng-click="filtre = ''; refreshTable(0)"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
                <div class="of-auto position-relative">
                    <div class="overlay" ng-show="loading"></div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr class="table-head">
                            <th ng-repeat="col in itemList.cols"
                                ng-class="{asc: order === col.champ, desc: order === col.champ + ' DESC', unsorted: (order !== col.champ && order !== col.champ + ' DESC')}"
                                ng-click="refreshTable(itemList.current, filtre, col.champ)"
                            >{{col.label}}
                            </th>
                            <th class="text-right not-allowed" style="width: 120px;"
                                ng-show="aclDataGrid.read || aclDataGrid.update || aclDataGrid.delete">Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="itemList.response.length > 0" ng-repeat="item in itemList.response">
                            <td ng-repeat="col in itemList.cols">
                                <span ng-if="!col.trust">{{ item[col.champ] }}</span>
                                <span ng-if="col.trust" ng-bind-html="item[col.champ] | trustHtmlContent"></span>
                            </td>
                            <td ng-show="aclDataGrid.read || aclDataGrid.update || aclDataGrid.delete">
                                <div class="btn btn-danger" ng-class="{'pull-right': aclDataGrid.read || aclDataGrid.update}"
                                     ng-show="aclDataGrid.delete"
                                     ng-click="openModal(item.id,item.label)"><i class="fa fa-archive"></i></div>
                                <a class="btn btn-default" href="{{ devisLink(item.id) }}" target="_blank" ng-class="{'pull-right': aclDataGrid.read || aclDataGrid.update}"
                                     ng-show="aclDataGrid.read"><i class="fa fa-print"></i></a>
                                <div class="btn btn-default" ng-class="{'pull-right': aclDataGrid.delete}"
                                     ng-show="aclDataGrid.read && aclDataGrid.update"
                                     ng-click="edit(item.id)"><i class="fa fa-edit"></i></div>
                            </td>
                        </tr>
                        <tr ng-if="!(itemList.response.length > 0)">
                            <td colspan="{{ itemList.cols.length +1 }}" class="text-center">
                                <span ng-show="!loading">Aucun élément n'a été trouvé</span>&nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">

                <span class="small" ng-hide="loading">Affichage des éléments {{ itemList.current *8 !== 0 ? (itemList.current *8) +1 : 1 }}  à {{ itemList.current *8 !== 0 ? (((itemList.current *8) +8 > itemList.total) ? itemList.total : (((itemList.current *8) +8) < itemList.total) ? (itemList.current *8) +8 : itemList.total) : ((itemList.total < 8) ? itemList.total : 8) }} {{ ((itemList.total < 8) ? '' : 'sur ' + (itemList.total ? itemList.total : 0)) }}</span>

                <nav class="pull-right">
                    <ul class="pagination pagination-sm m-0">
                        <li class="page-item"
                            ng-class="{disabled: itemList.current <= 0}"
                            ng-click="refreshTable(0, filtre)"
                            ng-style="{'pointer-events': itemList.current <= 0 ? 'none' : 'all', opacity: itemList.current <= 0 ? 0.6 : 1}"
                        ><span class="page-link"><i class="fa fa-angle-double-left"></i></span>
                        </li>
                        <li class="page-item"
                            ng-class="{disabled: itemList.current <= 0}"
                            ng-click="refreshTable(itemList.current -1, filtre)"
                            ng-style="{'pointer-events': itemList.current <= 0 ? 'none' : 'all', opacity: itemList.current <= 0 ? 0.6 : 1}"
                        ><span class="page-link"><i class="fa fa-angle-left"></i></span>
                        </li>

                        <!--suppress JSUnusedLocalSymbols -->
                        <li class="page-item"
                            ng-repeat="i in [].constructor(itemList.pages) track by $index"
                            ng-hide="(($index < (itemList.current -3)) || ($index > (itemList.current +3)))"
                            ng-class="{active: itemList.current === $index}"
                            ng-click="refreshTable($index, filtre)">
                            <span class="page-link" style="user-select: none;">{{ $index +1 }}</span>
                        </li>

                        <li class="page-item"
                            ng-class="{disabled: itemList.current >= (itemList.pages -1)}"
                            ng-click="refreshTable(itemList.current +1, filtre)"
                            ng-style="{'pointer-events': itemList.current >= (itemList.pages -1) ? 'none' : 'all', opacity: itemList.current >= (itemList.pages -1) ? 0.6 : 1}"
                        ><span class="page-link"><i class="fa fa-angle-right"></i></span>
                        </li>

                        <li class="page-item"
                            ng-class="{disabled: itemList.current >= (itemList.pages -1)}"
                            ng-click="refreshTable(itemList.pages -1, filtre)"
                            ng-style="{'pointer-events': itemList.current >= (itemList.pages -1) ? 'none' : 'all', opacity: itemList.current >= (itemList.pages -1) ? 0.6 : 1}"
                        ><span class="page-link"><i class="fa fa-angle-double-right"></i></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--Modale de suppression-->
        <div class="modal modal-danger" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Archiver l'élément</h5>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment archiver l'élément {{current.label}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i
                                class="fa fa-undo"></i></div>
                        <div onclick="$('.modal').modal('hide');" ng-click="delete(current.id)"
                             class="btn btn-sm btn-danger pull-right"><i class="fa fa-archive"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
