<div ng-include="'app/views/admin/menuAdmin.html'"></div>
<div class="row row-wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Rôles et droits
                <button ng-click="accessList(roleSelect)" title="Rafraichir le tableau"
                        class="btn btn-info pull-right"><i class="fa fa-refresh" ng-class="{'fa-spin': loading}"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="row m-0">
                    <div class="col-12 p-0">
                        <div class="input-group m-0 mb-2">
                            <select class="form-control" ng-model="roleSelect" ng-change="accessList(roleSelect)">
                                <option ng-value="role.name" ng-repeat="role in roles"
                                        ng-bind-html="role.name | trustHtmlContent"></option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary m-0 br-0"
                                        ng-show="roleSelect"
                                        ng-click="modalRoleDisplay(roleSelect)" type="button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-outline-secondary m-0 ml-3 br-0 pull"
                                        ng-click="modalRoleDisplay()" type="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0">
                        <div class="of-auto position-relative">
                            <div class="overlay" ng-show="loading"></div>
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr class="table-head">
                                    <th ng-repeat="col in itemList.cols" ng-style="col.style">{{col.label}}</th>
                                    <th class="text-right not-allowed" style="width: 100px;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="liste.length > 0" ng-repeat="item in liste">
                                    <td ng-repeat="col in itemList.cols">
                                        <span ng-hide="col.champ == 'allowed'">{{item[col.champ]}}</span>
                                        <span ng-show="col.champ == 'allowed'">
                                            <input type="checkbox" ng-checked="item[col.champ]"
                                                   style="pointer-events: none;">
                                        </span>
                                    </td>
                                    <td>
                                        <div class="btn btn-danger pull-right"
                                             onclick="$('#access-modal-delete').modal('show');"
                                             ng-click="selectResourceAccess(item.access_name, item.resources_name)">
                                            <i class="fa fa-trash"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="!(liste.length > 0)">
                                    <td colspan="{{ itemList.cols.length }}" class="text-center">
                                        <span>Aucun élément n'a été trouvé</span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-show="roleSelect">
                                    <td colspan="{{ itemList.cols.length }}"></td>
                                    <td>
                                        <div class="btn btn-default pull-right"
                                             title="Ajouter un accès" ng-click="displayAddAccess()">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary show" id="roles-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ng-binding" ng-hide="isEdit">Ajouter un rôle</h5>
                <h5 class="modal-title ng-binding" ng-show="isEdit">Modification du rôle | {{ roleSelect }}</h5>
            </div>
            <div class="modal-body">
                <div ng-repeat="champ in itemList.champsModalRole" ng-class="champ.parentDivClass"
                     ng-include="'app/views/elements/'+champ.type+'.html'" class="ng-scope col-12">
                </div>
            </div>
            <div class="modal-footer">
                <div onclick="$('#delete-modal').modal('show');"
                     ng-show="isEdit" class="btn btn-sm btn-danger btn-left">
                    <i class="fa fa-trash-o"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="accessList(roleSelect)"
                     class="btn btn-sm btn-info pull-right">Annuler <i class="fa fa-undo"></i></div>
                <button onclick="$('.modal').modal('hide');" title="Ajouter au module"
                        class="btn btn-sm btn-success pull-right" ng-click="addRole()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-danger show" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer le rôle</h5>
            </div>
            <div class="modal-body">
                <p class="ng-binding">Voulez-vous vraiment supprimer l'élément ?</p>
            </div>
            <div class="modal-footer">
                <div onclick="$('#delete-modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i
                        class="fa fa-undo"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="delRole(roleSelect)"
                     class="btn btn-sm btn-danger pull-right">
                    <i class="fa fa-trash-o"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary show" id="access-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un accès</h5>
            </div>
            <div class="modal-body">
                <div ng-repeat="champ in itemList.champsModalAccess" ng-class="champ.parentDivClass"
                     ng-include="'app/views/elements/'+champ.type+'.html'" class="ng-scope col-12">
                </div>
            </div>
            <div class="modal-footer">
                <div onclick="$('.modal').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler <i
                        class="fa fa-undo"></i></div>
                <button onclick="$('.modal').modal('hide');" title="Ajouter au module"
                        class="btn btn-sm btn-success pull-right" ng-click="addAccess(roleSelect)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-danger show" id="access-modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer l'accès</h5>
            </div>
            <div class="modal-body">
                <p class="ng-binding">Voulez-vous vraiment supprimer l'élément ?</p>
            </div>
            <div class="modal-footer">
                <div onclick="$('#access-modal-delete').modal('hide');" class="btn btn-sm btn-info pull-right">Annuler
                    <i
                            class="fa fa-undo"></i></div>
                <div onclick="$('.modal').modal('hide');" ng-click="delAccess(roleSelect, resourceSelect, accessSelect)"
                     class="btn btn-sm btn-danger pull-right">
                    <i class="fa fa-trash-o"></i>
                </div>
            </div>
        </div>
    </div>
</div>
