<div class="row">
    <!--<div class="col-10 offset-1" ng-include="'app/views/formulaires.html'"></div>-->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                {{titre}}
                <button title="Enregistrer" class="btn btn-success pull-right" ng-click="update()"
                        ng-disabled="saveLoading">
                    <i class="fa fa-save" ng-hide="saveLoading"></i>
                    <i class="fa fa-circle-o-notch fa-spin" ng-show="saveLoading"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="row m-0">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Nom *</label>
                            <input type="text" ng-model="liste.nom" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('nom')}">
                            <span class="text-danger small">&nbsp;{{ errors['nom'] }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Prénom *</label>
                            <input type="text" ng-model="liste.prenom" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('prenom')}">
                            <span class="text-danger small">&nbsp;{{ errors['prenom'] }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Téléphone</label>
                            <input type="text" ng-model="liste.tel" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('tel')}">
                            <span class="text-danger small">&nbsp;{{ errors['tel'] }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" ng-model="liste.email" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('email')}" disabled="disabled">
                            <span class="text-danger small">&nbsp;{{ errors['email'] }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Nouveau mot de passe</label>
                            <input type="password" ng-model="liste.mdp" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('mdp')}">
                            <span class="text-danger small">&nbsp;{{ errors['mdp'] }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Confirmation mot de passe</label>
                            <input type="password" ng-model="liste.conf_mdp" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('conf_mdp')}">
                            <span class="text-danger small">&nbsp;{{ errors['conf_mdp'] }}</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Rôle</label>
                            <input type="text" ng-model="liste.role" class="form-control"
                                   ng-class="{'border-danger': errors.hasOwnProperty('role')}" disabled="disabled">
                            <span class="text-danger small">&nbsp;{{ errors['role'] }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tel").inputmask();
    });
</script>
