<!--home-->

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-danger text-white">
            <div class="inner">
                <h3 ng-show="stats.devis_prix_ht">{{ stats.devis_prix_ht | currency:'€'}}</h3>
                <h3 ng-hide="stats.devis_prix_ht">€0</h3>
                <p>CA potentiel</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-warning text-white">
            <div class="inner">
                <h3 ng-show="stats.facture_prix_ht">{{ stats.facture_prix_ht | currency:'€'}}</h3>
                <h3 ng-hide="stats.facture_prix_ht">€0</h3>
                <p>Recette</p>
            </div>
            <div class="icon">
                <i class="fa fa-line-chart"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-success text-white">
            <div class="inner">
                <h3 ng-show="stats.clients">{{ stats.clients }}</h3>
                <h3 ng-hide="stats.clients">0</h3>
                <p>Nb. de clients</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <div class="small-box bg-info text-white">
            <div class="inner">
                <h3 ng-show="stats.fournisseurs">{{ stats.fournisseurs }}</h3>
                <h3 ng-hide="stats.fournisseurs">0</h3>
                <p>Nb. de fournisseurs</p>
            </div>
            <div class="icon">
                <i class="fa fa-truck"></i>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Historique
        <button ng-click="refreshTable(itemList.current, filtre)" title="Rafraichir le tableau"
                class="btn btn-info pull-right"><i class="fa fa-refresh" ng-class="{'fa-spin': loading}"></i></button>
    </div>
    <div class="card-body" style="overflow: initial">
        <div class="of-auto position-relative">
            <div class="overlay" ng-show="loading"></div>

            <table class="table table-striped table-hover">
                <thead>
                <tr class="table-head">
                    <th ng-repeat="col in itemList.cols"
                        ng-class="{asc: order === col.champ, desc: order === col.champ + ' DESC', unsorted: (order !== col.champ && order !== col.champ + ' DESC')}"
                        ng-click="refreshTable(itemList.current, filtre, col.champ)"
                    >{{col.label}}
                    </th>
                    <!--<th class="text-right not-allowed" style="width: 100px;">Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-if="itemList.response.length > 0" ng-repeat="item in itemList.response">
                    <td ng-repeat="col in itemList.cols">
                        <span ng-if="!col.trust">{{ item[col.champ] }}</span>
                        <span ng-if="col.trust" ng-bind-html="item[col.champ] | trustHtmlContent"></span>
                    </td>
                    <!--<td>-->
                        <!--<div class="btn btn-info pull-right"-->
                             <!--ng-show="item.crud == 'Suppression'"-->
                             <!--ng-click=""><i class="fa fa-history"></i>-->
                        <!--</div>-->
                        <!--<div class="btn btn-default pull-right"-->
                             <!--ng-hide="item.crud == 'Suppression'"-->
                             <!--ng-click="redirectToLink(item)"><i class="fa fa-eye"></i>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>
                <tr ng-if="!(itemList.response.length > 0)">
                    <td colspan="{{ itemList.cols.length +1 }}" class="text-center">
                        <span ng-show="!loading">Aucun élément n'a été trouvé</span>&nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">

        <span class="small" ng-hide="loading">Affichage des éléments {{ itemList.current *8 !== 0 ? (itemList.current *8) +1 : 1 }}  à {{ itemList.current *8 !== 0 ? (((itemList.current *8) +8 > itemList.total) ? itemList.total : (((itemList.current *8) +8) < itemList.total) ? (itemList.current *8) +8 : itemList.total) : ((itemList.total < 8) ? itemList.total : 8) }} {{ ((itemList.total < 8) ? '' : 'sur ' + (itemList.total ? itemList.total : 0)) }}</span>

        <nav class="pull-right">
            <ul class="pagination pagination-sm m-0">
                <li class="page-item"
                    ng-class="{disabled: itemList.current <= 0}"
                    ng-click="refreshTable(0, filtre)"
                    ng-style="{'pointer-events': itemList.current <= 0 ? 'none' : 'all', opacity: itemList.current <= 0 ? 0.6 : 1}"
                ><span class="page-link"><i class="fa fa-angle-double-left"></i></span>
                </li>
                <li class="page-item"
                    ng-class="{disabled: itemList.current <= 0}"
                    ng-click="refreshTable(itemList.current -1, filtre)"
                    ng-style="{'pointer-events': itemList.current <= 0 ? 'none' : 'all', opacity: itemList.current <= 0 ? 0.6 : 1}"
                ><span class="page-link"><i class="fa fa-angle-left"></i></span>
                </li>

                <!--suppress JSUnusedLocalSymbols -->
                <li class="page-item"
                    ng-repeat="i in [].constructor(itemList.pages) track by $index"
                    ng-hide="(($index < (itemList.current -3)) || ($index > (itemList.current +3)))"
                    ng-class="{active: itemList.current === $index}"
                    ng-click="refreshTable($index, filtre)">
                    <span class="page-link" style="user-select: none;">{{ $index +1 }}</span>
                </li>

                <li class="page-item"
                    ng-class="{disabled: itemList.current >= (itemList.pages -1)}"
                    ng-click="refreshTable(itemList.current +1, filtre)"
                    ng-style="{'pointer-events': itemList.current >= (itemList.pages -1) ? 'none' : 'all', opacity: itemList.current >= (itemList.pages -1) ? 0.6 : 1}"
                ><span class="page-link"><i class="fa fa-angle-right"></i></span>
                </li>

                <li class="page-item"
                    ng-class="{disabled: itemList.current >= (itemList.pages -1)}"
                    ng-click="refreshTable(itemList.pages -1, filtre)"
                    ng-style="{'pointer-events': itemList.current >= (itemList.pages -1) ? 'none' : 'all', opacity: itemList.current >= (itemList.pages -1) ? 0.6 : 1}"
                ><span class="page-link"><i class="fa fa-angle-double-right"></i></span>
                </li>
            </ul>
        </nav>
    </div>
</div>
